body{
    margin: 0;
}

.container_bgm{
    margin: 0 auto;
    width: 1600px;
}

.container{
    margin: 0 auto;
    width: 1260px;
}

.pastry_group{
    width: 1600px;
    height: 900px;
    background-image: url(..//img/pastry_bgm.png);
    margin-bottom: -50px;
}

.nav_group{
    background-image: url(..//img/nav_bgm.png);
}

.nav_main{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.3em;
    color: #ffffff;
}

.nav{
    font-family: 'Alegreya', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #ffffff;
}

.nav ul{
    list-style: none;
    padding-left: 0;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.nav a{
    text-decoration: none;
    color: #ffffff;
}

.social{
    color: #efebe4;
    width: 75px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.pastry_main{
    margin: 0 auto;
    height: 888px;
    width: 939px;
    background-image: url(..//img/shadow_circle.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pastry_main h1{
    margin: 0;
    text-align: center;
    padding-top: 250px;
    font-family: 'Playfair Display';
    font-size: 92px;
    font-weight: 700;
    text-shadow: 2px 2px 1px #3d3029;
    color: #ffffff;
}

.pastry_main h2{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-shadow: 0px 1px 0px #3d3029;
    color: #ffffff;
    text-align: center;
    margin-top: 65px;
}

.pastry_button{
    width: 200px;
    height: 50px;
    border: 1px solid #9e9c93;  
    font-family: 'Alegreya';
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #ffffff; 
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 55px;
}

.transition{
    width: 1600px;
    margin-bottom: -50px;
}

.chef_group{
    height: 760px;
    background-image: url(..//img/chef_bgm.png);
}

.chef_main{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
}

.chef_left{
    width: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chef_left h1{
    font-family: 'Alegreya';
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #56534c;
    margin: 40px 0px 0px 0px;
}

.chef_left h2{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #a47d5e;
    margin: 0px 0px 60px 0px;
}

.chef_text{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #56534c;
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.chef_left h3{
    font-family: 'Alegreya';
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #56534c;
    margin: 0px 0px 50px 0px;
}

.chef_insert{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px; 
}

.chef_name{
    height: 60px;
    width: 120px;
    font-family: 'Alegreya';
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #56534c;
    border-top: 1px solid #d7d5ca;
    border-bottom: 1px solid #d7d5ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chef_avatar{
    width: 110px;
    height: 110px;
    box-shadow: 0px 7px 9px 0px;
    border-radius: 50%;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote_text{
    margin: 0;
    font-family: 'Marck Script';
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #a47d5e;
    margin: 0px 20px 0px 20px;
}

.chef_right{
    width: 630px;
}

.chef_gallery{
    padding: 50px 0px 0px 11px;
}

.chef_img{
    margin: 0px 12px 12px 0px;
    box-shadow: 0px 10px 10px 0px #000000;
}

.season_group{
    height: 760px;
    background-image: url(..//img/season_bgm.png);
}

.season_main{
    padding: 140px 0px 0px 75px;
    width: 965px;
    height: 512px;
    background-clip: content-box;
    background-image: url(..//img/pancakes_bgm.png);
    background-origin: content-box;
}

.season_rating{
    padding: 186px 0px 0px 30px;
}

.breakfast_group{
    height: 760px;
    background-image: url(..//img/breakfast_bgm.png);
}

.sandwich_group{
    height: 920px;
    background-image: url(..//img/sandwich_bgm.png);
}

.footer{
    height: 240px;
    background-image: url(..//img/footer_bgm.png);
}